* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

[class*="__container"] {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  align-items: center;
  justify-content: center;
}

.second__container{
    flex-direction: column;
}

 input {
    min-width: 400px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
 input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
  } 